<xml>
	<settings>
		<transport>Net::SMTP</transport> <!-- can be /usr/bin/snmp or Net::SNMP !-->
		<sleep>2</sleep> <!-- seconds to sleep between queries !-->
		<notify> <!-- need to have at least one <to> in one of the tags below. for every <to> tag, need to have a <from> tag including all context specific settings !--> 
			<xmpp></xmpp> <!-- <from> needs server, port, username, password !-->
			<email></email> <!-- <from> needs server, port (username, password are optional) !-->
			<sms></sms> <!-- need to find a public SMS API and then determine required information !-->
		</notify>
		<matchtype>regex</matchtype> <!-- supports regex or glob matching !-->
	</settings>
	<hosts>
		<host>
			<desc>greed WiFi interface</desc>
			<ip>192.168.1.117</ip>
			<mac></mac>
			<auth>
				<name>trw-dd</name>
				<ro>foo</ro>
				<!-- <rw></rw> only monitoring for now, but can use this in place of RO !--> 
			</auth>
		</host>
		<host>
			<desc>router IB WiFi</desc>
			<ip>192.168.1.1</ip>
		</host>
	</hosts>
	<rules>
	       <rule>
			<active>yes</active>	
                       <name>MAC scan of sinL WiFi</name>
		       <snmp></snmp>		       
		       <hosts>
				<a>192.168.1.1</a>
		       </hosts> <!-- can match IPs, MACs or descriptions (regex), the SNMP query will run against these !-->
		       <expected>
				<a>my_laptop</a> <!-- key names are purely referential, the contents of <expected> become an array
                	</expected>
                	<unexpected>
				<u>.*</a> <!-- sames as <expected> !-->
                	</unexpected>
        	</rule>
		<rule>
			<active>no</rule>
			<name>test</name>
			<snmp value="" />
			<hosts></hosts>
			<expected></expected>
			<unexpexted></unexpexted>
		</rule>
	</rules>
</xml>